In [1]:
import numpy as np
import pandas as pd
import Raw_data_receiver as rdr
import Create_window_index as windower

In [2]:
data_receiver = rdr.rawdatareceiver()

In [3]:
rawdata = data_receiver.receive_data_file("chart_data/eur_usd_daily.csv", "eurusd_daily")
# 0 2 3 4 1
rawdata = rawdata.iloc[::-1]
rawdata.index = np.arange(0,len(rawdata))[::-1]

read file with header as follows

         Date   Price    Open    High     Low  Vol. Change %
0  03/27/2017  1.0865  1.0797  1.0905  1.0795   NaN    0.61%
1  03/24/2017  1.0799  1.0784  1.0820  1.0761   NaN    0.15%
2  03/23/2017  1.0783  1.0797  1.0807  1.0769   NaN   -0.13%
3  03/22/2017  1.0797  1.0810  1.0827  1.0776   NaN   -0.13%
4  03/21/2017  1.0811  1.0740  1.0822  1.0720   NaN    0.67%

In [4]:
import Create_labels as cl

In [5]:
labels = cl.multi_distance_label_creator(rawdata,0.01,0.1,4)

lims =
 [0.01 0.04 0.07 0.1 ]

In [6]:
window_size = 50
windower_chunk_ids = windower.create_window_indexes(len_data=len(rawdata),len_window=window_size)

In [7]:
dataset = windower.apply_windower_to_series_data(data=rawdata,labels=labels, windows_indexes=windower_chunk_ids)

In [8]:
dataset[538][0]

            date    open    high     low   close
4461  02/18/2000  0.9880  0.9903  0.9807  0.9865
4460  02/21/2000  0.9848  0.9890  0.9843  0.9874
4459  02/22/2000  0.9875  1.0080  0.9872  1.0040
4458  02/23/2000  1.0039  1.0091  1.0009  1.0030
4457  02/24/2000  1.0036  1.0042  0.9889  0.9931
4456  02/25/2000  0.9929  0.9929  0.9723  0.9745
4455  02/28/2000  0.9748  0.9748  0.9392  0.9719
4454  02/29/2000  0.9717  0.9865  0.9616  0.9647
4453  03/01/2000  0.9647  0.9770  0.9627  0.9738
4452  03/02/2000  0.9734  0.9796  0.9614  0.9644
4451  03/03/2000  0.9647  0.9679  0.9587  0.9599
4450  03/06/2000  0.9576  0.9672  0.9557  0.9594
4449  03/07/2000  0.9590  0.9627  0.9526  0.9598
4448  03/08/2000  0.9584  0.9634  0.9523  0.9608
4447  03/09/2000  0.9607  0.9702  0.9595  0.9664
4446  03/10/2000  0.9667  0.9687  0.9597  0.9630
4445  03/13/2000  0.9627  0.9730  0.9617  0.9647
4444  03/14/2000  0.9637  0.9684  0.9595  0.9683
4443  03/15/2000  0.9685  0.9714  0.9640  0.9675
4442  03/16/2000  0.9662  0.9741  0.9646  0.9715
4441  03/17/2000  0.9699  0.9730  0.9659  0.9724
4440  03/20/2000  0.9728  0.9748  0.9684  0.9732
4439  03/21/2000  0.9733  0.9738  0.9633  0.9641
4438  03/22/2000  0.9615  0.9632  0.9576  0.9612
4437  03/23/2000  0.9607  0.9729  0.9601  0.9718
4436  03/24/2000  0.9716  0.9778  0.9671  0.9771
4435  03/27/2000  0.9771  0.9790  0.9632  0.9667
4434  03/28/2000  0.9672  0.9703  0.9601  0.9607
4433  03/29/2000  0.9603  0.9605  0.9478  0.9516
4432  03/30/2000  0.9510  0.9623  0.9507  0.9611
4431  03/31/2000  0.9612  0.9628  0.9526  0.9562
4430  04/03/2000  0.9563  0.9606  0.9503  0.9550
4429  04/04/2000  0.9538  0.9752  0.9513  0.9604
4428  04/05/2000  0.9614  0.9712  0.9592  0.9623
4427  04/06/2000  0.9604  0.9645  0.9565  0.9579
4426  04/07/2000  0.9583  0.9617  0.9536  0.9549
4425  04/10/2000  0.9546  0.9629  0.9532  0.9627
4424  04/11/2000  0.9625  0.9649  0.9563  0.9591
4423  04/12/2000  0.9587  0.9602  0.9520  0.9588
4422  04/13/2000  0.9589  0.9596  0.9514  0.9525
4421  04/14/2000  0.9528  0.9625  0.9509  0.9623
4420  04/17/2000  0.9644  0.9673  0.9517  0.9524
4419  04/18/2000  0.9523  0.9526  0.9440  0.9459
4418  04/19/2000  0.9452  0.9490  0.9354  0.9405
4417  04/20/2000  0.9403  0.9425  0.9348  0.9379
4416  04/21/2000  0.9381  0.9398  0.9362  0.9383
4415  04/24/2000  0.9383  0.9451  0.9367  0.9385
4414  04/25/2000  0.9389  0.9397  0.9162  0.9210
4413  04/26/2000  0.9211  0.9253  0.9174  0.9238
4412  04/27/2000  0.9242  0.9252  0.9061  0.9100

In [9]:
dataset[538][1]

array([[0., 1., 0., 1., 1., 0., 1., 0.]])

In [10]:
clab = pd.DataFrame(labels.copy())
clab.index=rawdata.index
clab

        0    1    2    3    4    5    6    7
4999  0.0  1.0  1.0  1.0  1.0  0.0  0.0  0.0
4998  0.0  1.0  1.0  1.0  1.0  0.0  0.0  0.0
4997  0.0  1.0  1.0  1.0  1.0  0.0  0.0  0.0
4996  1.0  1.0  1.0  1.0  0.0  0.0  0.0  0.0
4995  1.0  1.0  1.0  1.0  0.0  0.0  0.0  0.0
...   ...  ...  ...  ...  ...  ...  ...  ...
4     0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
3     1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2     1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
1     1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
0     0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0

[5000 rows x 8 columns]

In [11]:
rawdata

            date    open    high     low   close
4999  01/26/1998  1.1090  1.1196  1.0963  1.0991
4998  01/27/1998  1.0991  1.1055  1.0985  1.1022
4997  01/28/1998  1.1021  1.1021  1.0877  1.0878
4996  01/29/1998  1.0870  1.0927  1.0785  1.0799
4995  01/30/1998  1.0792  1.0865  1.0771  1.0790
...          ...     ...     ...     ...     ...
4     03/21/2017  1.0740  1.0822  1.0720  1.0811
3     03/22/2017  1.0810  1.0827  1.0776  1.0797
2     03/23/2017  1.0797  1.0807  1.0769  1.0783
1     03/24/2017  1.0784  1.0820  1.0761  1.0799
0     03/27/2017  1.0797  1.0905  1.0795  1.0865

[5000 rows x 5 columns]